.pop-enter {
  transform: scale(0);
}

.pop-enter-active {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-exit {
  transform: scale(1);
}

.pop-exit-active {
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
