.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  margin-bottom: 16px;
}

.controls {
  display: flex;
  justify-content: center;
}
